
// .loader{
//   display: flex;
//   flex-direction: column;
//   width: 100% !important;
//   margin: 0 !important;
// }

// ion-item {
//   width: 100% !important;
//   margin: 0 !important;
//   padding: 0 !important;

//   border-color: black; 
//   border-width: .01em; 
//   border-style:solid; margin-bottom : -1px;
//   background-color: lightgrey
// }
app-task {
   width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

ion-content ion-card > {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}