<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ativity List App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-grid  *ngIf="important">
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-header color="danger" >
            <ion-card-title>Important</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngFor="let item of allTask" [ngSwitch]="item.priority" >
              <ion-item-sliding *ngSwitchCase="'important'" slot="end" lines="none">
                <ion-item routerLink="/home/task-list/{{item.id}}"  routerDirection="forward" lines="none">
                  <circle-progress
                    [percent]="item.progress"
                    subtitleFontSize="8"
                    radius="20"
                    titleColor="#FF4961"
                    space="0"
                    maxPercent="100"
                    outerStrokeGradient="false"
                    outerStrokeWidth="1"
                    backgroundPadding="10"
                    outerStrokeColor=" #D32F2F"
                    outerStrokeGradientStopColor="#FF4961"
                    innerStrokeColor="#e7e8ea"
                    innerStrokeWidth="1"
                    [title]="(item.progress | number:'1.0-0' )  + '%'"
                    titleFontSize="10"
                    animateTitle="true"
                    animationDuration="3000"
                    showBackground="false"
                    clockwise="false"
                    responsive="false"
                  ></circle-progress>   
                  <app-task [color]="'danger'" [todoTask]="item"></app-task>
                </ion-item>
                <ion-item-options side="end">                              
                  <ion-item-option color="danger" (click)="deleteAlert(item.id)">
                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="general">
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-header color="warning" >
            <ion-card-title>General</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngFor="let item of allTask" [ngSwitch]="item.priority">
              <ion-item-sliding *ngSwitchCase="'general'" slot="end" lines="none">
                <ion-item routerLink="/home/task-list/{{item.id}}" routerDirection="forward" lines="none">
                  <circle-progress
                    [percent]="item.progress"
                    subtitleFontSize="8"
                    radius="20"
                    titleColor="#FFD534"
                    space="0"
                    maxPercent="100"
                    outerStrokeGradient="false"
                    outerStrokeWidth="1"
                    backgroundPadding="10"
                    outerStrokeColor=" #ff8f00"
                    outerStrokeGradientStopColor="#FFD534"
                    innerStrokeColor="#e7e8ea"
                    innerStrokeWidth="1"
                    [title]="(item.progress | number:'1.0-0' )  + '%'"
                    titleFontSize="10"
                    animateTitle="true"
                    animationDuration="3000"
                    showBackground="false"
                    clockwise="false"
                    responsive="false"
                  ></circle-progress>   
                  <app-task [color]="'warning'" [todoTask]="item"></app-task>
                </ion-item>  
                <ion-item-options side="end">
                  <ion-item-option color="warning" (click)="deleteAlert(item.id)">
                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
    
  <ion-grid *ngIf="least">
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-card>
          <ion-card-header color="secondary" >
            <ion-card-title>Least</ion-card-title>
            </ion-card-header>
          <ion-card-content>
            <div *ngFor="let item of allTask" [ngSwitch]="item.priority">
              <ion-item-sliding *ngSwitchCase="'least'" slot="end" lines="none">
                <ion-item  routerLink="/home/task-list/{{item.id}}" routerDirection="forward" lines="none">
                  <circle-progress
                    [percent]="item.progress"
                    subtitleFontSize="8"
                    radius="20"
                    titleColor="#50C8FF"
                    space="0"
                    maxPercent="100"
                    outerStrokeGradient="false"
                    outerStrokeWidth="1"
                    backgroundPadding="10"
                    outerStrokeColor="#0288d1"
                    outerStrokeGradientStopColor="#50C8FF"
                    innerStrokeColor="#e7e8ea"
                    innerStrokeWidth="1"
                    [title]="(item.progress | number:'1.0-0' )  + '%'"
                    titleFontSize="10"
                    animateTitle="true"
                    animationDuration="3000"
                    showBackground="false"
                    clockwise="false"
                    responsive="false"
                  ></circle-progress>   
                  <app-task [color]="'secondary'" [todoTask]="item"></app-task>
                </ion-item>  
                <ion-item-options side="end">
                  <ion-item-option color="secondary" (click)="deleteAlert(item.id)">
                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="allTask.length === 0" >
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-padding-vertical">
          <div class="ion-text-center">
            <h2>You don't have any important task for today 🔥😎</h2>
            <p>Add something to do click on ➕</p>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab  vertical="top" horizontal="end" slot="fixed" edge>
     <ion-fab-button color="dark" (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> 
